* {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

:root {
  --primary-color: #ff69b4;
  --secondary-color: lavenderblush;
  --text-color: black;
}

.navbar {
  background-color: whitesmoke;
  display: flex;
  align-items: center;
  height: 80px;
}

.header-left {
  display: flex;
  align-items: center;
}

.navbar-logo {
  height: 120px;
}

.header-left ul{
  display: flex;
  list-style-type: none;
}

.header-left ul li {
  padding: 15px;
}

.header-left ul li a {
  text-decoration: none;
  color: var(--text-color);
}

.header-right {
  margin-left: auto;
  margin-right: 28px;
}

.header-right ul {
  display: flex;
  list-style-type: none;
}

.header-right ul li {
  padding: 15px;
}

.header-right ul li a {
  text-decoration: none;
  color: var(--text-color);
}